/* ====== ESTILO GERAL ====== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e2f;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ====== TÍTULO ====== */
h1 {
    margin-top: 30px;
    font-size: 32px;
}

/* ====== PAINEL DE STATUS ====== */
#status {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#status p {
    background: #2b2b40;
    padding: 10px 20px;
    border-radius: 8px;
}

/* ====== PERGUNTA ====== */
#pergunta {
    margin-top: 40px;
    font-size: 45px;
    font-weight: bold;
    background: #292941;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 10px;
}

/* ====== INPUT ====== */
#resposta {
    margin-top: 25px;
    font-size: 24px;
    padding: 8px 15px;
    width: 160px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

/* ====== BOTÕES ====== */
button {
    margin: 20px 10px;
    padding: 12px 22px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out
