body {
    background: #111;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#game-container {
    background: #222;
    padding: 25px;
    border-radius: 18px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 12px #000;
}

#pergunta {
    font-size: 32px;
    margin: 15px 0;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    background: #444;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-red {
    background: #902020;
}

#acerto {
    color: green;
}

/* GAME OVER BACKGROUND */
#gameover-bg {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* GAME OVER BOX */
#gameover-box {
    background: #222;
    padding: 25px;
    width: 260px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}

.flash-verde {
    background: #003300 !important;
}
