body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(180deg, #f0f8ff, #d2e7ff);
    transition: background-color 0.3s ease;
}
#status p {
    font-size: 20px;
}

#pergunta {
    font-size: 26px;
    margin: 20px;
    font-weight: bold;
}

#mensagem {
    font-size: 22px;
    margin-top: 20px;
    height: 40px;
    transition: 0.4s;
}

.acertou {
    color: green;
    transform: scale(1.2);
}

.errou {
    color: red;
    transform: scale(1.2);
}
.flash-verde {
    animation: flash 0.4s ease-out;
}

@keyframes flash {
    0% {
        background-color: #00ff00;
    }
    100% {
        background-color: white;
    }
}
